html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: rgb(12, 50, 239);
    color: rgb(255, 255, 255);
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 200px;
    margin: 0 auto;
}

.container2 {
    width: 200px;
    margin: 0 auto;
}

section article {
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(230, 255, 1, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color:  #222;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3 ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

html {
    font-family: sans-serif;
}
  
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 70px;
}
  
th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}

div{
    margin: 0 auto;
}